
ul, li, menu {
    text-decoration: none;
    list-style: none;
}

.flex {
    display: flex;
}

.header-menu {
    column-gap: 15px;
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: aquamarine;
    padding: 30px 0;
}
.




















/* responsive */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }




/* debug */

.debug [class^=col] {
    border: 1px solid black;
    height: 100px;
}

