
ul, li, menu, a {
    text-decoration: none;
    list-style: none;
    color: currentColor;
}

.page-header {
    background-color: #2c3e50;
}

.hero-avatar > .hero-avatar-img {
    width: 50%;
}

main .hero,
main .section-about {
    background-color: #19bc9c;
}

.white-star::after {
    content: '';
    height: 3px;
    display: block;
    background-color: white;
    width: 100px;
}

.white-star::before {
    content: '';
    height: 3px;
    display: block;
    background-color: white;
    width: 100px;
}

.black-star::after {
    content: '';
    height: 3px;
    display: block;
    background-color: black;
    width: 100px;
}

.black-star::before {
    content: '';
    height: 3px;
    display: block;
    background-color: black;
    width: 100px;
}

.portfolio-card > img {
    width: 100%;
}

.page-form .user-information,
.page-form .textarea-message {
    width: 100%;
}

.form-button {
    background-color: #19bc9c;
}

.page-footer {
    background-color: #3b546d;
}



















/* responsive */


@media (min-width: 576px) { 


}

/*
@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }


@media (min-width: 1400px) { ... }
*/




/* debug */

.debug [class^=col] {
    border: 1px solid black;
}

.debug [class^=container] {
    border: 1px solid red;
}

